{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Chez S&B</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
	<!-- cookie -->
	<link rel="stylesheet" href="{% static 'css1/style.css' %} " />

</head>
<body>
	
	

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'acceuil' %}">
								<img src="{% static 'assets/img/logo.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'acceuil' %}">Acceuil</a></li>
								<li><a href="{% url 'catalogue' %}">Catalogue</a></li>
								<li><a href="{% url 'contact' %}">Contact</a></li>
								
								{% if user.is_authenticated %}
									{% if user.is_superuser %}
										<li><a href="{% url 'create_article' %}">Ajouter un article</a></li>
									{% else %}					
										<li><a href="">Profil ({{user.username}})</a></li>
										<li><a href="{% url 'create_annonce' %}">Créer une annonce</a></li>
									{% endif %}
									<li><a href="{% url 'logout' %}">Déconnexion</a></li>
								{% else %}
									<!-- connexion -->
									<li><a href="#">Compte</a>
										<ul class="sub-menu">
											<li><a href="{% url 'login' %}">Connexion</a></li>
											<li><a href="{% url 'register' %}">Inscription</a></li>
										</ul>
									</li>
									<!-- end connexion -->
								{% endif %}
								
								<li>
									<div class="header-icons">
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							 <h3>Rechercher :</h3>
							<input type="text" placeholder="Mots-clés">
							<button type="submit">Recherche <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->


	
    {% block content %}

	

    {% endblock content %}

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">À propos de nous</h2>
						<p>Nous sommes une boutique spécialisée dans la vente de chaussures pour femmes. Notre objectif est de fournir des produits de haute qualité à nos clients.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Contact</h2>
						<ul>
							<li>24/7, Grand-Bassam, Côte-d'ivoire</li>
							<li>chezsb@gmail.com</li>
							<li>+225 0706072649 </li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'acceuil' %}">Accueil</a></li>
							<li><a href="{% url 'catalogue' %}">Catalogue</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box register">
						<h2 class="widget-title">Abonnez-vous</h2>
						<p>Inscrivez-vous à notre liste de diffusion pour obtenir les dernières mises à jour.</p>
						<form action="{% url 'register' %}" method="post">
							{% csrf_token %}
							<input type="email" name="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	

</body>
</html>
